.feed-wrapper {
    position: relative;
    
    .content {
        .column-container {
            display: flex;
            flex-direction: row;
        }

        .column {
            width: 50%;
            &:first-child {
              margin-right: 6px;
            }          
            width: calc((100% - 6px) / 2); 
        }
    }
}
